<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About Us</title>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!--  Bootstrap core CSS  -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
	<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

     <!-- Custom styles for this template  -->
    <link href="{{url_for('static', filename='css/scrolling-nav.css')}}" rel="stylesheet">

		 <!-- My CSS  -->

    <link href="{{url_for('static', filename='css/mycss.css')}}?v={{rand}}" rel = "stylesheet" type="text/css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132818148-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132818148-1');
</script>


</head>
<body>
 Navigation 
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Application Writer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>
<!-- <div class="about_us" id="first">
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <img src="{{url_for('static', filename='images/sameer_pic.jpeg')}}" class="person_photo">
        </div>
        <div class="col-lg-9 about_person">
            <div class="about_person_content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eligendi ullam unde reiciendis nemo fuga explicabo natus officia. Facilis voluptatem qui sapiente distinctio quidem blanditiis hic adipisci velit ad ab labore earum quam consectetur ex incidunt, voluptates accusantium veritatis cum. Culpa, accusantium labore quam minus non deserunt exercitationem sint expedita illum cupiditate laboriosam, dolores laudantium! Unde nesciunt sed inventore id.
            <br>
                <div class="socialmedia"> 
               <a href="http://www.google.com" target=_blank > <i class="fab fa-twitter-square" style="color:rgb(0, 174, 255);" ></i> </a>
               <a href="www.google.com"  target=_blank> <i class="fab fa-facebook-square" style="color:blue;"></i></a>
               <a href="www.google.com"  target=_blank> <i class="fab fa-linkedin" style="color:rgb(0, 110, 255);"></i></a>
               <a href="www.google.com"  target=_blank> <i class="fas fa-envelope" style="color:rgb(255, 153, 0);"></i></a>
               
              


                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="about_us" id="first">
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <img src="{{url_for('static', filename='Images/myphoto.jpeg')}}" class="person_photo">
        </div>
        <div class="col-lg-9 about_person">
            <div class="about_person_content">
                   Full stack developer, currently persuing Bachelors in computer application from Vivekananda Institue Of Profesional studies, I developed interest in the field of computers early in life, willing to learn a lot of different technologies in this field, I believe learning is a life skill; 
                   when I reflect on why I believe that, it’s easy to make the connection from my own life experiences. <br> <br> <strong>-Pranav Bhatia</strong> 
            <br>
                <div class="socialmedia"> 
               <a href="https://twitter.com/PranavBhatia18" target=_blank > <i class="fab fa-twitter-square" style="color:rgb(0, 174, 255);" ></i> </a>
               <a href="https://www.instagram.com/pranavvbhatia/"  target=_blank><i class="fab fa-instagram" style="color:rgb(251, 57, 88);"></i></a>
               <a href="https://www.linkedin.com/in/pranav-bhatia-42513966/"  target=_blank> <i class="fab fa-linkedin" style="color:rgb(0, 110, 255);"></i></a>
               <!-- <a href="mailto"  target=_blank> <i class="fas fa-envelope" style="color:rgb(255, 153, 0);"></i></a> -->
               
              


                </div>
            </div>
        </div>
    </div>
</div>

<div class="about_us" id="second">
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <img src="{{url_for('static', filename='Images/person_2.jpeg')}}" class="person_photo">
        </div>
        <div class="col-lg-9 about_person">
            <div class="about_person_content">
                Content writer, currently persuing bachelors in business administration from Symbiosis Institute of managemnet studies, Noida.
                <br> <br>
                <b>- Adit Jain</b>
            <br>
                <div class="socialmedia"> 
               <a href="http://www.google.com" target=_blank > <i class="fab fa-twitter-square" style="color:rgb(0, 174, 255);" ></i> </a>
               <a href="www.google.com"  target=_blank> <i class="fab fa-facebook-square" style="color:blue;"></i></a>
               <a href="www.google.com"  target=_blank> <i class="fab fa-linkedin" style="color:rgb(0, 110, 255);"></i></a>
               <a href="www.google.com"  target=_blank> <i class="fas fa-envelope" style="color:rgb(255, 153, 0);"></i></a>
               
              


                </div>
            </div>
        </div>
    </div>
</div>


    





<div class="content_footer">
    </div>
        <footer id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h3 class="logo"><a href="#"> APPLICATION WRITER </a></h3>
                    </div>
                    <div class="col-sm-2">
                        <h5>Get started</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <!-- <li><a href="#">Sign up</a></li>
                            <li><a href="#">Downloads</a></li> -->
                        </ul>
                    </div>
                    <div class="col-sm-2 sidebutton">
                        <h5>About us</h5>
                        <ul>
                            <!-- <li><a href="#">Company Information</a></li> -->
                            <li><a href="#contact">Contact us</a></li>
                            <li><a href="/aboutus">About the Developers</a></li>
                        </ul>
                            <!-- <li><a href="#">Reviews</a></li> -->
                       
                    </div>
                    <!-- <div class="col-sm-2">
                        <h5>Support</h5>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Help desk</a></li>
                            <li><a href="#">Forums</a></li>
                        </ul>
                    </div> -->
                    <div class="col-sm-3">
                        <div class="social-networks">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <button type="button" class="btntxt btn btn-default"><a href = "/aboutus"> Who made this?</a></button>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© 2019 Copyright Text </p>
            </div>
        </footer>

</div>
</body>
</html>