<div class ="main_form">
        <div id="leaveForm" class="d-none formTabs" >
            <div class = "jumbotron">
                <br>
                <h3>Fill the form:</h3>
                <div class="formui">
                        <form target="/" method="POST">
                            <div class="row col-md-12">
                                    <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">The Dean</a>
                                                    <a class="dropdown-item" href="#">The Principal</a>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Name or College/School Address" name="address">
                                     </div>
                                        <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Sender's Name:</span>
                                                </div>
                                                <input type="text " aria-label="First name" placeholder="First Name" class="form-control" name="fname" required >
                                                <input type="text" aria-label="Last name" placeholder="Last Name" class="form-control" name="lname" >
                                        </div>
    
                                            <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Class & Roll No.</span>
                                                    </div>
                                                    <input type="text" aria-label="First name" placeholder="Class" class="form-control" name="senders_cl">
                                                    <input type="text" aria-label="Last name" placeholder="Roll Number" class="form-control" name="rno">
                                            </div>
                                </div>
                            
                </div>
                
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Date:</span>
                                            </div>
                                            <input type="text" aria-label="First name" placeholder="From" class="form-control" name="date_from">
                                            <input type="text" aria-label="Last name" placeholder="Till" class="form-control" name="date_till">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-2 col-form-label">Days</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputEmail3" placeholder="Number of Days" name="no_days">
                                                </div>
                                        </div>
                                </div>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Application submit date</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="Application Date" name="app_date">
                            </div>
                                    <br>
    
                                <div class="row">
                                    <div class="col-md-1"> 
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    <div class="col-md-1">
                                            <button type="submit" class="btn btn-primary">Reset</button>
                                    </div>
                                </div>
                            
                        </form>
                </div>
         </div>
</div>
